@page
@model BackOffice.Pages.Brands.IndexModel

@{
    ViewData["Title"] = "Brands";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Brands</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandEntity[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandEntity[0].Country)
            </th>
            <th>
                Environmental rating
            </th>
            <th>
                Human rating
            </th>
            <th>
                Animal rating
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BrandEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvironmentRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalRating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
